body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 20px;
}

h1 {
  color: #2ecc71;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.card {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}